<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noods</title>
</head>
<body>
    <h1><%= user.username %></h1>
    <a href="/" action="/logout">Log Out</a>
    <a href="/recipes/browse">Browse</a>
    <a href="/users/about">About</a>
    <div>
        <ul>Recipes
            <% if(user.recipes) { %>  
                <% user.recipes.forEach(recipes => { %>
                    <li><%= recipes.title %></li>
                <% }) %>
            <% } %>
        </ul>
    </div>
    <div>
        <ul>Comments
            <% if(user.recipes.comments) { %>  
                <% recipes.comments.forEach(comment => { %>
                    <li><%= comment.body %>
                        <a href="/comments/edit">Edit</a>
                        <input type="hidden" name="recipe" value="<%= recipes._id %>" />
                        <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <input type="submit" value="Delete Comment" />
                        </form>
                    </li>
                <% }) %>
            <% } %>
        </ul>
    </div>
</body>
</html>