<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="/styles/main.css" >
    <title>Noods</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="nav__link" href="/users/home">Home</a>
            <a class="nav__link" href="/users/profile/<%= user.id %>">Profile</a>
            <a class="nav__link" href="/" action="/logout">Log Out</a>
        </nav>
    </header>
    <div class="browse__container">
        <div class="browse__head">
            <h1>All the Noods</h1>
            <a href="/recipes/new">Add Recipe</a>
            <div class="broswe__user">
                <h4><%= user.username %></h4>
            </div>
        </div>
        <div class="recipes__container">
            <ul>Recipes
                <% recipes.forEach(recipe  => { %>
                <li><a href="/recipes/show/<%= recipe._id %>"><%= recipe.title %> by: <%= recipe.user.username %></a></li>
                <% }) %>
            
            </ul>
        </div>
    </div>
</body>
</html>