<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noods</title>
</head>
<body>
    <a href="/users/home">Home</a>
    <a href="/recipes/browse">Browse</a>
    <a href="/users/profile/<%= user.id %>">Profile</a>
    <h1>Recipe Page</h1>
    <h3>Pic Placeholder?</h3>
    <h4>Recipe Info:</h4>
    <ul>
        <li>Title: <%= recipes.title %></li>
        <li>Description: <%= recipes.description %></li>
        <li>Portion(s): <%= recipes.portion %></li>
        <li>Cooking Method: <%= recipes.cookMethod %></li>
        <li>Spices: <%= recipes.spices %></li>
        <li>Protein: <%= recipes.proteins %></li>
        <li>Veggies: <%= recipes.veggies %></li>
    </ul>
    <a href="/recipes/<%= recipes._id %>/edit">Edit</a>
    <form action="/recipes/<%= recipes._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Noods" />
    </form>
    <!-- Comments -->
    <form action="/comments/show/" method="POST">
        <input type="hidden" name="recipe" value="<%= recipes._id %>" />
        <input type="text" name="body" placeholder="Let them know how much you like their Noods!" />
    </form>
    <ul>Comments
        <% if(recipes.comments) { %>  
            <% recipes.comments.forEach(comment => { %>
                <li><%= comment.body %>
                    <a href="/comments/edit">Edit</a>
                    <input type="hidden" name="recipe" value="<%= recipes._id %>" />
                    <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete Comment" />
                    </form>
                </li>
            <% }) %>
        <% } %>
    </ul>
</body>
</html>