<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="/styles/main.css" >
    <title>Noods</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="nav__link" href="/users/home">Home</a>
            <a class="nav__link" href="/recipes/browse">Browse</a>
            <a class="nav__link" href="/users/profile/<%= user.id %>">Profile</a>
            <a class="nav__link" href="/" action="/logout">Log Out</a>
        </nav>
    </header>
    <h1>Recipe Page</h1>
    <h4>Posted by: <%= user.username %></h4>
    <h4>Recipe Info:</h4>
    <ul>
        <li>Title: <%= recipes.title %></li>
        <li>Directions: <%= recipes.description %></li>
        <li>Portion(s): <%= recipes.portion %></li>
        <li>Cooking Method: <%= recipes.cookMethod %></li>
        <li>Spices: <%= recipes.spices %></li>
        <li>Protein: <%= recipes.proteins %></li>
        <li>Veggies: <%= recipes.veggies %></li>
    </ul>
    <a href="/recipes/<%= recipes._id %>/edit">Edit</a>
    <form action="/recipes/<%= recipes._id %>?_method=DELETE" method="POST">
        <input type="submit" value="No More Noods" />
    </form>
    <!-- Comments -->
    <form action="/comments/show/" method="POST">
        <input type="hidden" name="recipe" value="<%= recipes._id %>" />
        <input type="text" name="body" placeholder="Let them know how much you like their Noods!" />
        <input type="submit" value="Tell 'em!">
    </form>
    <ul>Comments
        <% if(recipes.comments) { %>  
            <% recipes.comments.forEach(comment => { %>
                <li><%= comment.user.username %> says: <%= comment.body %></br>
                    <a href="/comments/edit/<%= comment._id %>/<%= recipes._id %>">Edit</a>
                    <input type="hidden" name="recipe" value="<%= recipes._id %>" />
                    <form action="/recipes/show/<%= recipes._id %>/<%= comment._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete Comment" />
                    </form>
                </li>
            <% }) %>
        <% } %>
    </ul>
</body>
</html>