<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noods</title>
</head>
<body>
    <h1>Recipe Page</h1>
    <h3>Pic Placeholder?</h3>
    <h4>Recipe Info:</h4>
    <ul>
        <li>Title: <%= recipe.title %></li>
        <li>Description: <%= recipe.description %></li>
        <li>Portion(s): <%= recipe.portion %></li>
        <li>Cooking Method: <%= recipe.cookMethod %></li>
        <li>Spices: <%= recipe.spices %></li>
        <li>Protein: <%= recipe.proteins %></li>
        <li>Veggies: <%= recipe.veggies %></li>
    </ul>
    <button>Edit</button>
    <button>Delete</button>
    <ul>Comments
        <li>Comment 1</li>
        <li>Comment 2</li>
        <li>Comment 3</li>
    </ul>
</body>
</html>